$main-font-color: #fff;
$title-font-color: #E86A33;
$sub-font-color: #24292e;
$red-focus-color: #d00307;
$solid-color: #c8c8c8;
$border-color: #24292e;
$shadow-color: grey;
$font-family-title: 'Pacifico', cursive;
$font-family-main: 'Montserrat', sans-serif;